.hero-section {
    background: #f7f7f7;
    padding: 90px 0;
}

.hero-subtitle {
    color: #7b7b7b;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero-title {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
}

.hero-title span {
    color: var(--primary);
}

.hero-description {
    color: #777;
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}

.subscribe-form {
    max-width: 450px;
}

.subscribe-form input {
    height: 55px;
    border: none;
}

.subscribe-form button {
    width: 140px;
    background: var(--primary);
    border: none;
}

.hero-image img {
    width: 100%;
}
.hero-section {
    padding: 80px 0;
}
.typewrite .wrap {
    border-right: 2px solid #ff4d4d;
    padding-right: 2px;
}
.hero-section form {
    border-radius: 40px;
    padding: 0;
}
.hero-section form input {
    border-radius: 40px 0 0 40px !important;
    padding: 15px;
}
.hero-section form button {
    border-radius: 0 40px 40px 0;
}

.hero-section h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
}

.hero-section h2 span {
    color: #5869da;
}
