.hero-section {
    background: #f7f7f7;
    padding: 90px 0;
}

.hero-subtitle {
    color: #7b7b7b;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero-title {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
}

.hero-title span {
    color: var(--primary);
}

.hero-description {
    color: #777;
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}

.subscribe-form {
    max-width: 450px;
}

.subscribe-form input {
    height: 55px;
    border: none;
}

.subscribe-form button {
    width: 140px;
    background: var(--primary);
    border: none;
}

.hero-image img {
    width: 100%;
}
